<h1>All Users' Notes</h1>
<% @notes.each do |note| %>
  <p>Blend Name: <%= note.blendName %></p>
  <p>Date: <%= note.date %></p>
  <p>overall: <%= note.overall %></p>
  <p><%= link_to 'Detail', note_path(note) %>
  <hr>
<% end %>
