$main-color: #ef7169;
$blue-color: #89BBFE;
$green-color: #73CC81;
$text-color: #878787;
$title-color: #666666;
$background-color: #F5F5F5; 

.box {
  width: 960px;
  height: 680px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  overflow: hidden;
}

.blendName {
  color: #FFF;
  display: inline-block;
  position: absolute;
  height: 70px;
  max-width: 600px;
  font-size: 50px;
  font-weight: 100;
  margin-left: 30px;
  background-color: rgba(255, 110, 97, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: $blue-color;
    text-decoration: none;
  }
}

.stars {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
  color: #fff251;
  font-size: 40px;
}

.image {
  width: 420px;
  height: 360px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  left: 20px
}

.attributes {
  position: relative;
  width: 500px;
  top: -260px;
  left: 450px;
  font-size: 15px;
}

.attribute {
  display: inline-block;
  width: 200px;
  color: #bfbfbf;
  margin-left: 25px;
}

.data {
  display: inline-block;
  margin-left: -110px;
  text-align: right;
  width: 350px;
}

hr {
  margin: 10px;
  margin-left: 10px;
  width: 480px;
}

.comment {
  position: relative;
  top: -345px; 
  left: 30px; 
  font-size: 18px;
  color: #bfbfbf;
}

.comment-box {
  position: relative;
  top: -340px;
  left: 18px;
  width: 425px;
  height: 150px;
  padding: 10px;
  background-color: #EFEFEF;
}

.button {
  position: relative;
  padding: 5px;
  color: $green-color;
  font-size: 20px;
  font-weight: 100;
  border: 1px solid $green-color;
  &:hover {
    color: #FFF;
    background-color: $green-color;
    text-decoration: none;
  }
}
.editButton{
  left: 477px;
  top: -421px;
  padding-left: 30px;
  padding-right: 30px;
}

.deleteButton {
  left: 382px;
  top: -371px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-image {
  width: 37px;
  height: 37px;
  border-radius: 100px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.note-user {
  font-size: 30px;
  font-weight: 100;
  max-width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(157, 219, 167, 1.0);
  float: right;
  margin-top: -410px;
  max-width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 23px;
  display: inline;
  a {
    color: #FFF;
    &:hover { 
      text-decoration: none;
    }
    &:visited { color: #FFFFFF; }
    &:visited { color: #FFFFFF; }
  }
}
