.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
} 

.body {
  width: 500px;
  float: left;
}

.note {
  width: 250px;
  float: left;
}

.sidebar {
  width: 160px;
  float: right;
}
