$main-color: #f25353;
$text-color: #858585;
$title-color: #666666;
$background-color: #F5F5F5;

.panel-body {
  background-color: $background-color;
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  margin-left: 10px;
}

h3 {
  margin-top: 10px;
}

.btn {
  color: $text-color;
}
