$main-color: #f25353;
$text-color: #858585;
$title-color: #666666;
$background-color: #F5F5F5;

body {
  color: $text-color;
  padding-top: 70px;
  background-color: #F5F5F5;
}

p {
  color: $text-color;
}

.navbar-default {
  background-color: white;
}

.avater-image {
  margin-right: 0px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}

#avater-image-link {
  padding-right: 5px;
  padding-top: 13px;
}

#user-name {
  padding-left: 0px;
}

h1 {
  color: $title-color;
}

a {
  color: $main-color;
  text-decoration: none;
}

.title {
  color: $title-color;
  text-decoration: none;
}
