$main-color: #f25353;
$text-color: #858585;
$title-color: #666666;
$background-color: #F5F5F5;

html { 
  height: 100%;
}

body {
  color: $text-color;
  padding-top: 70px;
  background-color: #F5F5F5;
  height: 100%;
}

p {
  color: $text-color;
}

.navbar-default {
  background-color: white;
}

.navbar-nav {
  margin: 0px 0px;
}

.avater-image {
  margin-right: 0px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}

#avater-image-link {
  padding-right: 5px;
  padding-top: 13px;
}

#user-name {
  padding-left: 0px;
}

h1 {
  color: $title-color;
}

a {
  color: $main-color;
  text-decoration: none;
}

.navbar a {
  color: $main-color !important
}

.title {
  color: $title-color;
  text-decoration: none;
}

.wrapper {
  min-height: 86%;
}

footer {
  height: 40px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  .copyright {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .line {
    border-left: 1px solid #AAA;
    position: absolute;
    height: 80px;
    margin-top: -17px;
  }
}

#footer-line1 {
  left: 33%;
}

#footer-line2 {
  left: 66%;
}

.footer {
  .title {
  }
}
